{% extends "base.html" %}
{% block content  %}
<div class="content-section">
  <form class="" action="" method="POST">
    {% csrf_token %}
    <fieldset class='form-group'>
      <legend class='border-bottom mb-4'>Delete Submission</legend>
      <div class="alert alert-danger" role="alert">
          Are you sure you want to delete your application?
      </div>
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-danger" type="submit" name="button">Yes, Delete</button>
    </div>
  </form>

<div class="border-top pt-3">
  <small class="text_muted">
    <a class="ml-2" href="{% url 'home' %}">Back to Home <i class="fas fa-home"></i></a>
  </small>
</div>

</div>

{% endblock content %}
