{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content  %}
<div class="content-section">
  <form class="" action="" method="POST">
    {% csrf_token %}
    <fieldset class='form-group'>
    {% if user.contributor.pk %}
      <legend class='border-bottom mb-4'>Update your Application</legend>
    {% else %}
      <legend class='border-bottom mb-4'>Submit your Application</legend>
    {% endif %}

        {{ form|crispy }}

      <!--  -->
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit" name="button">Submit</button>
    </div>
  </form>

<div class="border-top pt-3">
  <small class="text_muted">
    <a class="ml-2" href="{% url 'home' %}">Back to Home <i class="fas fa-home"></i></a>
  </small>
</div>

</div>

{% endblock content %}
