{% extends "base.html" %}
{% load staticfiles %}
{% block content  %}
<div class="row">
   <div class="col-md-7" style="text-align:justify;">
     <h1 class="mt-5 mb-2">What is MeInBio?</h1>
     <br>
     <p class="subtitle">MeInBio is a structured doctoral program (research training group)
       with the aim to create an understanding of transcriptional control at
       high spatial and temporal resolution.</p>

     <p class="subtitle">The research training group is funded by the <strong>German Research Foundation</strong>
       (DFG) and combines 13 research groups from the <strong>Albert-Ludwigs-University
       Freiburg</strong> and the <strong>Max Planck Institute of Immunobiology and Epigenetics Freiburg</strong>. </p>

     <p class="subtitle">To address fundamental open questions with regard to transcriptional
       control in transitory developmental or adaptation states, the research
       training group employs high-throughput sequencing approaches and high-resolution technology.
       The RTG wants to refine biocomputational algorithms as prerequisites for efficient data analyses.</p>

      <p>Still, data analysis is often the bottleneck in many laboratories, as biologists are usually not trained in informatics. Informaticians, on the other hand, often lack the biological knowledge needed to extract the most relevant information from the data. MeInBio is therefore training PhD students in both, wet-lab biology and bioinformatics. We do so by assigning a tandem lab of the respective other field to every PhD project and by creating many occasions for interactions, e.g. during workshops and our monthly progress report meetings.</p>
       <br><br>
   </div>

   <div class="col-md-5 text-center">
     <img src="{% static 'meinbio_symbol_noShadow_vec.png' %}" alt="" class="" style="height:500px; margin-top:100px">
   </div>
</div>

{% endblock content %}
