{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<br>

<h1>Privacy Policy</h1>
<hr>
<br>
<h5>1. Responsible institution for data protection purposes:  </h5>
    <p>Albert-Ludwigs-Universität Freiburg  <br>
       Friedrichstraße 39 <br>
       79098 Freiburg  <br>
       ++49 (0)761/203-0  <br>
       info@uni-freiburg.de <br>
    </p>

<h5>2. Data protection representative</h5>
<p> University of Freiburg <br>
  Data protection representative <br>
  <a href="mailto: datenschutzbeauftragter@uni-freiburg.de  ">datenschutzbeauftragter@uni-freiburg.de  </a>
</p>

<h5>3. Note </h5>
<p>We take the private sphere of our visitors very seriously and collect only data that are necessary for organizing the Symposium "Medicine - Informatics - Biology. How NGS brings us together" and optimizing the functionality and usability of this web page.
Insofar as the processing of personal data is necessary within the context of tasks lying within the responsibility of the University of Freiburg or a task  that is in the public interest, the processing is conducted on the basis of § 6 para. 1 lit. e of the EU General Data Protection Regulation (EU-GDPR) in conjunction with § 4 of the State Data Protection Act.
</p>

<h5>4. Collection of personal data </h5> <br>
<div style='margin-left:50px'>

  <h6>4.1.1. Description and category of data</h6>
  <p>When you visit this web page you send data to the web server via your web browser. The following data are retained temporarily in a log file during an ongoing connection only in the case of an error:
  </p>
  <ul class="list-group list-group-flush">
  <li class="list-group-item"> ♣  IP address of the requesting computer</li>
  <li class="list-group-item"> ♣  Date and time of the access</li>
  <li class="list-group-item"> ♣  Name, URL, and amount of transferred data from the requested file</li>
  <li class="list-group-item"> ♣  Access status (requested file transferred, not found, etc.)</li>
  <li class="list-group-item"> ♣  Browser type and operating system (if sent by the requesting web browser)</li>
  <li class="list-group-item"> ♣  Web page from which access was obtained (if sent by the requesting web browser)</li>
</ul>
<br>
<br>
<p>The data in this log file are processed as follows: <br>
  <ul class="list-group list-group-flush">
  <li class="list-group-item">♣	In individual cases, i.e., reported defects, errors, and security incidents, a manual analysis is conducted.</li>
  </ul>
  </p>
<br>
<p>During the registration process you need to provide your name and e-mail address to enable communication with the Symposium organizers. For active participation in the Symposium you need to provide details on your institution, your research and your participation in certain program events. These data will be stored on a passward protected server area of the University of Freiburg. Only the symposium organizing team will be able to access the server area.
 </p>
<br>

<h6>4.1.2. Purpose </h6>
<p>The system needs to temporarily store the user’s IP address to enable the website to be sent to the user’s computer. The user’s IP address must be retained for the duration of the session.  The data are stored in a log file as a means of ensuring the proper functioning of the website. In addition, we use the data to optimize the website and guarantee the security of our information technology systems. The IP addresses included in the log entries are not combined with other retained data unless there are actual indications that there has been a disruption of proper operation. These purposes also constitute our legitimate interest in processing data in accordance with § 6 para. 1 lit. f GDPR (General Data Protection Regulation).
Your name, Email address, Institution name and participation in events will be used for organization of the Symposium "Medicine - Informatics - Biology. How NGS brings us together". Your name, Email address and Institution name can be published on the web site and in the printed Symposium program.</p>
<br>

<h6>4.1.3. Legal basis</h6>
<p> The legal basis for the temporary retention of the data and the log files is § 6 para. 1 lit. f GDPR.</p>
<br>

<h6>4.1.4. Recipient</h6>
<p> In the case that investigative measures are initiated due to attacks on our information technology system, the data and log files named above under 4.1. may be passed on to state investigative bodies (e.g., police, public prosecutor).  The same applies if these bodies or courts direct inquiries at the university and the university is obligated to comply with them.
Your name, institution and contribution to the symposium can be included in reports to the funding organizations, Joachim Herz foundation and German Research foundation (Deutsche Forschungsgemeinschaft, DFG). Your name, Email address and Institution name can be published on the web site and in the printed Symposium program.</p>
<br>

<h6>4.1.5. Duration of data retention </h6>
<p>The data are deleted as soon as they are no longer needed to achieve the purpose for which they were collected. In the case of data collected to make the website available, this is the case at the end of the relevant session.  The data retained in log files are deleted after seven days.
Your name, Email address, Institution name and participation in events will be stored until all reports to the funding bodies have been delivered and accepted.</p>
<br>

<h6>   4.1.6. Consequences of nondisclosure, possibility of objection or removal</h6>
<p>   The collection of data for the purpose of making the website available and the storage of the data in log files is absolutely necessary for the operation of the website. Users who do not want their data to be processed as described will not be able to actively participate in the symposium "Medicine - Informatics - Biology. How NGS brings us together".</p>
<br>
<h5>4.2. Use of cookies</h5>
<br>
<h6>4.2.1. Description and categories of data</h6>
<p>Our website uses cookies. Cookies are text files stored on the user’s computer system by the internet browser. When a user visits a website, a cookie can be stored on the user’s computer system. This cookie includes a distinctive sequence of characters that enables a clear identification of the browser the next time the user visits the website.  The following data are stored in cookies and sent to the user’s computer system by this website:
</p>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Origin</th>
      <th scope="col">Name</th>
      <th scope="col">Content (example)</th>
      <th scope="col">Purpose</th>
      <th scope="col">Validity</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>uni-freiburg.de</td>
      <td>serverid</td>
      <td>p4wn15-4</td>
      <td>Load balancer classification</td>
      <td>Until the end of the browser session</td>
    </tr>
    <tr>
      <td>uni-freiburg.de</td>
      <td>I18N_LANGUAGE</td>
      <td>"en"</td>
      <td>Language selection</td>
      <td>Until the end of the browser session</td>
    </tr>
    <tr>
      <td>uni-freiburg.de</td>
      <td>_ZopeId</td>
      <td>"73763172A9gmf636tqo"</td>
      <td>Browser session</td>
      <td>Until the end of the browser session</td>
    </tr>
    <tr>
      <td>uni-freiburg.de</td>
      <td>__ac</td>
      <td>"1BPiIECrqd8cOmDbWCdcvbYK4Z lnJqK%2Be%2BuNrdsbu7k1YjFlPD Y3YXdlYm1hc3RlciE%3D"</td>
      <td>Login to restricted areas for content maintenance</td>
      <td>Until the end of the browser session</td>
    </tr>
    <tr>
      <td>piwik.mw.uni-freiburg.de</td>
      <td>_pk_id.18.9670</td>
      <td>6115f19b10e69a82.1533817677.1. 1533817708.1533817677.</td>
      <td>Matomo referrer</td>
      <td>13 months</td>
    </tr>
    <tr>
      <td>piwik.mw.uni-freiburg.de</td>
      <td>_pk_ses.18.9670</td>
      <td>*</td>
      <td>Tracking of visitor’s page views</td>
      <td>Until the end of the browser session</td>
    </tr>
    <tr>
      <td>videoportal.uni-freiburg.de</td>
      <td>framework</td>
      <td>kfaosr57pe1i31es2282u9q3v5</td>
      <td>Session-ID</td>
      <td>7 days</td>
    </tr>
    <tr>
      <td>videoportal.uni-freiburg.de</td>
      <td>cookieAccepted</td>
      <td>1</td>
      <td>Cookies from visitor allowed</td>
      <td>10 years</td>
    </tr>
  </tbody>
</table>
<br>

<h6>4.2.2. Purpose </h6>
<p>The purpose of using the technically necessary cookies named under 4.2.1 is to simplify the use of the website for the user. Some functions of our website cannot be offered without the use of cookies. For these functions, it is necessary for the browser to be recognized when the user visits the website again later after leaving it.  The purpose of each cookie is listed in the table under 4.2.1.   The user data collected by the cookies are not used to create user profiles.   These purposes also constitute our legitimate interest in processing personal data in accordance with § 6 para. 1 lit. f GDPR.</p>
<br>

<h6>4.2.3. Legal basis</h6>
<p>The legal basis for the processing of personal data using cookies is § 6 para. 1 lit. f GDPR.</p>
<br>

<h6>   4.2.4. Recipient </h6>
<p>The recipient of the information contained in the cookies is exclusively the authorized web server, i.e., the university web server that sent the cookie.</p>
<br>

<h6>  4.2.5. Duration of data retention</h6>
<p> The cookies are retained for the periods listed in the table under 4.2.1.  Since the cookies are stored on your computer, you also have the possibility of deleting them earlier. For more information, please read the following section.</p>
<br>

<h6>  4.2.6. Consequences of nondisclosure, possibility of objection or removal </h6>
<p>Cookies are stored on the user’s computer and transmitted to our site from it. As the user, you therefore also have complete control over the use of cookies – irrespective of the retention periods listed above. You can deactivate or limit the transfer of cookies by changing the settings of your web browser. You can also delete already stored cookies at any time. You can even set your browser to do this automatically. If you deactivate cookies for our website, you may no longer be able to use all functions of the website to their full extent.  </p>


</div>


{% endblock %}
