{% extends "base.html" %}
{% load staticfiles %}
{% block content  %}

<div class="" style="height:600px;background-position: left; background-image:url({% static 'ribo-complex.gif' %}); background-repeat: no-repeat;">

  <div class="row">
    <div class="col-sm-12 mt-3 text-center">
      <br>
      <h5 class="subtitle">Click on the following link to visualize a preliminary</h5>
      <h5 class="subtitle"><a href="{% static "preliminary_program.pdf" %}">Symposium programme</a></h5>



    </div>

  </div>

</div>

{% endblock content %}
