{% extends "base.html" %}
{% block content  %}

    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata mt-3 mb-4">
          <h4 class="pb-2">{{ object.author.first_name }} {{ object.author.last_name }}</h4>
          <p>
            <a class="btn btn-sm btn-outline-dark" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              short bio
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              {{ object.bio }}
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-1">

          </div>

          <div class="col-md-10">
            <small class="text-muted">key words: {{ object.key_words }}</small>
            <h2 class="title">{{ object.title }}</h2>
            <br>
            <p class="subtitle" style="text-align:justify;">{{ object.abstract }}</p>
            <br>
            <br>
          </div>

          <div class="col-md-1">

          </div>

          </div>
      </div>
    </article>

{% endblock content %}
