{% extends "base.html" %}
{% load staticfiles %}
{% block content  %}

<div class="" style="height:600px; background-position: right; background-image:url({% static 'exagons.gif' %}); background-repeat: no-repeat;">

  <div class="row">
    <div class="col-sm-6 mt-3">
      <br>
      <h3>Talks</h3>
      <hr>
      <p>Please come back in a few weeks</p>
      <br>
      <br>
      <br>
      <h3>Posters</h3>
      <hr>
      <p>Please come back in a few weeks</p>


    </div>

  </div>

</div>

{% endblock content %}
