{% extends "base.html" %}
{% load staticfiles %}
{% block content  %}

<div class="" style="height:600px; background-position: right; background-image:url({% static 'exagons.gif' %}); background-repeat: no-repeat;">

  <div class="row">
    <div class="col-sm-3 mt-3">
      <br>
      <h3>Talks</h3>
      <hr>
      {% for sp in sps %}
        {% if sp.selected and sp.contribution == "TK" %}
        <a href="{% url 'speaker-detail' sp.id %}"> <h4 class='subtitle'>{{sp.author.first_name}} {{sp.author.last_name}}</h4> </a>
        {% endif %}
      {% endfor %}
      <br>
      <br>
      <br>
      <h3>Posters</h3>
      <hr>
      {% for sp in sps %}
        {% if sp.selected and sp.contribution == "PO" %}
        <a href="{% url 'speaker-detail' sp.id %}"> <h4 class='subtitle'>{{sp.author.first_name}} {{sp.author.last_name}}</h4> </a>
        {% endif %}
      {% endfor %}


    </div>

  </div>

</div>

{% endblock content %}
