{% extends "base.html" %}
{% block content  %}
{% load staticfiles %}
<div class="row mt-5 mb-5">

  <div class="col-8 text-justify">
    <h1>Medicine - Informatics - Biology</h1>
    <h5 class="subtitle">How NGS brings us together</h5>
    <br>
    <br>
    <div class="body">
      <p>With the advent of high-throughput technologies, biological sciences have witnessed a change in the methods used to generate, analyze and draw solid conclusions from big data sets. Next Generation Sequencing is the most prominent high-throughput technology. Over the years, NGS has become a central platform fostering communication and collaborations between experts from very different fields.</p>

      <p>The symposium <em>"Medicine - Informatics - Biology. How NGS brings us together"</em> will present excellent research made possible through the virtuous cross-contamination between medicine, biology and information technology. In addition, the symposium will address challenges in interdisciplinary communication and education and give opportunity for further mutual learning.</p>
      <br>
      <hr>
      <h4>Present your interdisciplinary research</h4>
      <p>In frame of the symposium researchers who successfully combine biology and informatics have the possibility to present their research in a talk or one of the poster sessions. We especially invite young scientists to make use of this opportunity.</p>
      <br>
      <hr>
      <h4>Ask your questions</h4>
      <p>Is there something that you have always wanted to ask an expert in biology or informatics/statistics? We have reserved two afternoon sessions for a format to learn from each other, called “ask the expert”. Experts in a specific field – independent of career status – often need to learn in a different field. The symposium will assemble experts with an informatics background as well as those with biology-related expertise, giving the unique opportunity to address your questions to an expert of the other field. Therefore during the registration process, indicate your specific expertise as well as the questions you would like to ask another expert during the symposium. We will match these and give time and room to group learning.</p>
      <br>
      <hr>
      <h4>Let’s think about interdisciplinary training and communication</h4>
      <p>How can we advance interdisciplinary biology/bioinformatics training? How are you educating young scientists in both fields? What were you missing during your education? Which obstacles need to be worked on to enhance communication between wet-lab biologists and informaticians? In a World Café format the symposium will search for answers to these questions and generate perspectives for future educative formats.</p>
      <br>
      <hr>
      <h4>Let’s meet</h4>
      <p>Of course, the symposium will give plenty of opportunity for communication and networking during coffee breaks and social evenings. The symposium is open to PhD students, post-doctoral researchers and group leaders.</p>

      <p>You can use this web platform to register to the symposium, submit and manage your application for a talk or a poster. <strong>We look forward to hear about your awesome research!</strong></p>

      <p>The symposium "Medicine - Informatics - Biology. How NGS brings us together" is generously funded by the Joachim Herz Stiftung.</p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus mauris a diam maecenas sed enim. Elementum integer enim neque volutpat ac tincidunt. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Scelerisque in dictum non consectetur a erat nam at. Imperdiet sed euismod nisi porta lorem mollis aliquam. Enim sit amet venenatis urna cursus eget nunc scelerisque. Amet porttitor eget dolor morbi non arcu risus quis. Ut sem viverra aliquet eget sit amet tellus.</p> -->
      <br>
    <!-- <h5 class="subtitle">ORGANIZING COMMITTEE</h5>
    <hr>
    <p>Prof. Dr. Tanja Vogel <strong>Chair</strong> </p>
    <p>Dr. Christine Hacker </p>
    <p>Dr. ... </p>
    <p>Dr. ... </p>
    <p>Dr. ... </p>
    <br>

    <h5 class="subtitle">SESSION TOPICS</h5>
    <hr>
    <div class="row">
      <div class="col-8">
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Single cell RNA-seq</strong></li>
        <li class="list-group-item"><strong>Quantitative and high-throughput ChIP-seq </strong></li>
        <li class="list-group-item"><strong>RNA biology</strong></li>
        <li class="list-group-item"><strong>Development and Epigenetics</strong></li>
        <li class="list-group-item"><strong>Gene Regulatory Networks</strong></li>
        </ul>
      </div>
    </div> -->
    <br>
    </div>
  </div>

  <div class="col-4 text-center">
    <h5 class="subtitle">ORGANIZED BY</h5>
    <hr>
    <img src="{% static 'meinbio_symbol_noShadow_vec.png' %}" alt="" style="height:300px">
    <br>
    <br>
    <br>
    <br>
    <h5 class="subtitle">SPONSOR</h5>
    <hr>
    <img src="{% static 'JHS_Logo_CMYK_violett.jpg' %}" alt="" style="width:100%">
    <img src="{% static 'DFG.png' %}" alt="" style="width:80%">
    <br>
    <br>
    <br>
    <br>
    <h5 class="subtitle">MEMBER INSTITUTIONS</h5>
    <hr>
    <div class="row">
      <div class="col-6">
        <img src="{% static 'logo.png' %}" alt="" style="height:100px">
      </div>
      <div class="col-6">
        <img src="{% static '14_MPI_IE_logo_mit_180.gif' %}" alt="" style="height:100px">
      </div>
    </div>
  </div>

</div>

{% endblock content %}
