{% extends "base.html" %}
{% block content  %}
{% load staticfiles %}
<div class="row mt-5 mb-5">

  <div class="col-8 text-justify">
    <h1>Medicine - Informatics - Biology</h1>
    <h5 class="subtitle">How NGS brings us together</h5>
    <br>
    <br>
    <div class="body">
      <p>With the advent of high-throughput technologies, biological sciences have witnessed a change in the methods used to generate, analyze and draw solid conclusions from big data sets. Next Generation Sequencing is the most prominent high-throughput technology. Over the years, NGS has become a central platform fostering communication and collaborations between experts from very different fields.</p>

      <p>The symposium <em>"Medicine - Informatics - Biology. How NGS brings us together"</em> will present excellent research made possible through the virtuous cross-contamination between medicine, biology and information technology. The symposium is open to PhD students, post-doctoral researchers and group leaders.</p>
      <p>You can use this web platform to register to the symposium, submit and manage your application for a talk or a poster. <strong>We look forward to hear about your awesome research!</strong></p>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tellus mauris a diam maecenas sed enim. Elementum integer enim neque volutpat ac tincidunt. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat. Neque vitae tempus quam pellentesque nec nam aliquam sem et. Scelerisque in dictum non consectetur a erat nam at. Imperdiet sed euismod nisi porta lorem mollis aliquam. Enim sit amet venenatis urna cursus eget nunc scelerisque. Amet porttitor eget dolor morbi non arcu risus quis. Ut sem viverra aliquet eget sit amet tellus.</p> -->
      <br>
    <h5 class="subtitle">ORGANIZING COMMITTEE</h5>
    <hr>
    <p>Dr. Prof. Tanja Vogel <strong>Chair</strong> </p>
    <p>Dr. Christine Hacker </p>
    <p>Dr. ... </p>
    <p>Dr. ... </p>
    <p>Dr. ... </p>
    <br>

    <h5 class="subtitle">SESSION TOPICS</h5>
    <hr>
    <div class="row">
      <div class="col-8">
        <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Single cell RNA-seq</strong></li>
        <li class="list-group-item"><strong>Quantitative and high-throughput ChIP-seq </strong></li>
        <li class="list-group-item"><strong>RNA biology</strong></li>
        <li class="list-group-item"><strong>Development and Epigenetics</strong></li>
        <li class="list-group-item"><strong>Gene Regulatory Networks</strong></li>
        </ul>
      </div>
    </div>
    <br>
    </div>
  </div>

  <div class="col-4 text-center">
    <h5 class="subtitle">ORGANIZED BY</h5>
    <hr>
    <img src="{% static 'meinbio_symbol_noShadow_vec.png' %}" alt="" style="height:300px">
    <br>
    <br>
    <br>
    <br>
    <h5 class="subtitle">SPONSORS</h5>
    <hr>
    <img src="{% static 'DFG-logo-blau.svg.png' %}" alt="" style="width:100%">
    <br>
    <br>
    <br>
    <br>
    <h5 class="subtitle">MEMBER INSTITUTIONS</h5>
    <hr>
    <div class="row">
      <div class="col-6">
        <img src="{% static 'logo.png' %}" alt="" style="height:100px">
      </div>
      <div class="col-6">
        <img src="{% static '14_MPI_IE_logo_mit_180.gif' %}" alt="" style="height:100px">
      </div>
    </div>
  </div>

</div>

{% endblock content %}
